.buy-now-button{
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 9px 25px;
    cursor: pointer;
}
.bg-dot {
    background: url("images/bg-2.png") no-repeat bottom left;
}
.bg-img {
    background: url("images/bg-1.png") no-repeat left center;
}
.paragraph{
    width: 70%;
}
.see-button {
    border: none;
    background-color: white;
    color: orange;
    font-weight: bold;
}
.container {
    margin-bottom: 70px;
}
.card {
    border: none;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
}
.card-footer {
    background-color: #fff;
    border-top: none;
    margin: auto;
}
.card-footer h5 {
    padding-bottom: 15px;
    margin-left: 45px;
}
.card img {
    width: 80%;
    margin: auto;
}
.categories {
    margin: auto;
}
.cat-item{
    margin-top: 60px;
}
.cat-item img {
    padding: 20px;
    margin: 30px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 5px;
}