.buy-now-button{
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 9px 25px;
    cursor: pointer;
}
.bg-dot {
    background: url("images/bg-2.png") no-repeat bottom left;
}
.bg-img {
    background: url("images/bg-1.png") no-repeat left center;
}
.paragraph{
    width: 70%;
}
.see-button {
    border: none;
    background-color: white;
    color: orange;
    font-weight: bold;
}
.container {
    margin-bottom: 70px;
}
.card {
    border: none;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
}
.card-footer {
    background-color: #fff;
    border-top: none;
    margin: auto;
}
.card-footer h5 {
    padding-bottom: 15px;
    text-align: center;
}
.card img {
    width: 80%;
    margin: auto;
}
.orange-underline{
    background-image: linear-gradient(90deg, #FF9C35, #FFD019);
    height: 7px;
    width: 100px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 50px;
}
.category-card{
    transform: scale(0.8);
    box-shadow: 1px 1px 20px lightgray;
    border-radius: 10px;
    padding: 70px 0px;
    position: relative;
}
.category-card h5{
    text-align: center;
    margin-top: 20px;
}